<ion-header>
  <ion-toolbar>
    <ion-title color="primary">
      <h2>Hidrogênio</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light">
    <div class='ion-padding'>
      <ion-img src="https://static.todamateria.com.br/upload/hi/dr/hidrogenio_tabela.jpg"></ion-img>

      <p>O <ion-badge color="primary"><ion-text color="dark">hidrogênio</ion-text></ion-badge> localiza-se na família <ion-badge color="primary"><ion-text color="dark">1A</ion-text></ion-badge> da tabela periódica e está representado pela letra
        <ion-badge color="primary"><ion-text color="dark">H</ion-text></ion-badge>, sendo este o seu símbolo. Apesar de sua importância, é o elemento mais simples,
        formado apenas por um próton e nenhum nêutron, com número atômico e massa igual a <ion-badge color="primary"><ion-text color="dark">1</ion-text></ion-badge>.</p>

      <p>Encontrado em estado puro como um elemento químico gasoso, é inflamável, incolor, inodoro,
        não-metálico e insolúvel em água. Este elemento é raro na atmosfera terrestre,
        posto que sua densidade muito leve o permite escapar à gravidade da Terra.
        Todavia, é abundante na superfície do Planeta, na forma de
        <ion-badge color="primary"><ion-text color="dark">hidrocarbonetos</ion-text></ion-badge> e <ion-badge color="primary"><ion-text color="dark">água</ion-text></ion-badge>.</p>

      <ion-badge color="primary">
        <ion-text color="dark">
          <h3>Aplicações</h3>
        </ion-text>
      </ion-badge>

      <p>O hidrogênio era utilizado como gás de balões e dirigíveis.
        Isso porque ele é mais leve do que o ar, mas foi substituído pelo
        <ion-badge color="primary"><ion-text color="dark">hélio</ion-text></ion-badge>, elemento menos inflamável.
        Atualmente, o hidrogênio é empregado em uma variada gama de produções.
        São exemplos a obtenção do amoníaco para fertilizantes, o <ion-badge color="primary"><ion-text color="dark">metanol</ion-text></ion-badge>, a hidrogenação do carvão, a soldadura.
        Em estado líquido, é empregado como carburante para foguetes e para o aprimoramento de combustíveis fósseis em geral.</p>

      <ion-badge color="primary">
        <ion-text color="dark">
          <h3>Curiosidades</h3>
        </ion-text>
      </ion-badge>

      <p>° O gás hidrogênio é mais leve que o ar e foi utilizado em dirigíveis rígidos pelo conde alemão Ferdinand von Zeppelin, daí o nome dos dirigíveis.</p>
      <p>° O gás de hidrogênio pode ser sintetizado por algumas bactérias e algas.</p>
      <p>° O hidrogênio será utilizado futuramente na produção de combustível de energia limpa.</p>
      <p>° O gás metano é uma fonte de hidrogênio de crescente importância.</p>

    </div>
  </ion-card>

  <ion-button color="warning" href="terceirapagina" expand="full" shape="around">
    <ion-text color="dark">Voltar</ion-text>
  </ion-button>

</ion-content>
