<ion-header>
  <ion-toolbar>
    <ion-title color="primary">
      <h1>Hidrogênio</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="primary">
    <div class='ion-padding'>
      <ion-img src="https://static.todamateria.com.br/upload/hi/dr/hidrogenio_tabela.jpg"></ion-img>

      <p>O <ion-badge color="light">hidrogênio</ion-badge> localiza-se na família <ion-badge color="light">1A</ion-badge> da tabela periódica e está representado pela letra
        <ion-badge color="light">H</ion-badge>, sendo este o seu símbolo. Apesar de sua importância, é o elemento mais simples,
        formado apenas por um próton e nenhum nêutron, com número atômico e massa igual a <ion-badge color="light">1</ion-badge>.</p>

      <p>Encontrado em estado puro como um elemento químico gasoso, é inflamável, incolor, inodoro,
        não-metálico e insolúvel em água. Este elemento é raro na atmosfera terrestre,
        posto que sua densidade muito leve o permite escapar à gravidade da Terra.
        Todavia, é abundante na superfície do Planeta, na forma de
        <ion-badge color="light">hidrocarbonetos</ion-badge> e <ion-badge color="light">água</ion-badge>.</p>

      <ion-badge color="light">
        <ion-text color="primary">
          <h4>Aplicações</h4>
        </ion-text>
      </ion-badge>

      <p>O hidrogênio era utilizado como gás de balões e dirigíveis.
        Isso porque ele é mais leve do que o ar, mas foi substituído pelo
        <ion-badge color="light">hélio</ion-badge>, elemento menos inflamável.
        Atualmente, o hidrogênio é empregado em uma variada gama de produções.
        São exemplos a obtenção do amoníaco para fertilizantes, o <ion-badge color="light">metanol</ion-badge>, a hidrogenação do carvão, a soldadura.
        Em estado líquido, é empregado como carburante para foguetes e para o aprimoramento de combustíveis fósseis em geral.</p>

      <ion-badge color="light">
        <ion-text color="primary">
          <h4>Curiosidades</h4>
        </ion-text>
      </ion-badge>

      <p>° O gás hidrogênio é mais leve que o ar e foi utilizado em dirigíveis rígidos pelo conde alemão Ferdinand von Zeppelin, daí o nome dos dirigíveis.</p>
      <p>° O gás de hidrogênio pode ser sintetizado por algumas bactérias e algas.</p>
      <p>° O hidrogênio será utilizado futuramente na produção de combustível de energia limpa.</p>
      <p>° O gás metano é uma fonte de hidrogênio de crescente importância.</p>

    </div>
  </ion-card>
  
  <ion-button expand="full" shape="around" color="light" href="terceirapagina">
    <ion-text color="primary">Voltar</ion-text>
  </ion-button>

</ion-content>
