<ion-header>
  <ion-toolbar>
    <ion-title color="secondary">
      <h2>Cloro</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light">
    <div class='ion-padding'>
      <ion-img src="http://www.quimlab.com.br/guiadoselementos/cloro/cloro.jpg"></ion-img>
      <br />
      <p>O <ion-badge color="secondary">cloro</ion-badge> é um elemento químico com símbolo <ion-badge color="secondary">Cl</ion-badge>,
        número atômico <ion-badge color="secondary">17</ion-badge>, massa atômica <ion-badge color="secondary">35,5</ion-badge>.
        Ele pertence a família dos <ion-badge color="secondary">halogênios</ion-badge>,
        grupo 7A da tabela periódica.</p>

      <p>Por ser um elemento extremamente reativo, dificilmente é encontrado na natureza em sua forma pura,
        com exceção da pequena quantidade emitida durante as erupções vulcânicas na forma de HCl.
        Ele também pode ser obtido por <ion-badge color="secondary">eletrólise</ion-badge> do NaCl, em solução aquosa. O cloro, ainda,
        produz muitos sais a partir dos cloretos, através do processo de <ion-badge color="secondary">oxidação</ion-badge>.</p>

      <ion-badge color="secondary">
        <ion-text color="dark">
          <h3>Aplicações</h3>
        </ion-text>
      </ion-badge>

      <p>O gás cloro (Cl2) é tóxico e irritante, tal condição fez com que fosse utilizado como arma química durante a 1ª Guerra Mundial.
        Esse gás provoca irritação no trato respiratório e na pele, retenção de água nos pulmões,
        lacrimejamento e quando inalado em grandes quantidade pode levar até a morte.</p>

      <p>O cloro está presente em <ion-badge color="secondary">85%</ion-badge> dos medicamentos, seja em sua formulação final ou como parte do processo de produção,
        incluindo os remédios para tratamento de Aids, alergias, artrite, câncer, depressão, diabetes, doenças cardíacas,
        infecções, pneumonia, hipertensão. Além disso, o cloro ajuda a proteger os pacientes de infecções hospitalares.
        O cloro está presente na composição de <ion-badge color="secondary">96%</ion-badge> dos produtos químicos empregados para proteger as plantações agrícolas.
        No preparo dos alimentos comerciais, produtos à base de cloro são usados ​​para eliminar bactérias de origem alimentar,
        tais como Salmonella, por exemplo.</p>

      <ion-badge color="secondary">
        <ion-text color="dark">
          <h3>Curiosidades</h3>
        </ion-text>
      </ion-badge>

      <p>° Branqueamento de papel e tecidos com o uso de dióxido de cloro (ClO2).</p>
      <p>° Tratamento da água, a adição de cloro torna a água potável e própria para o consumo humano.</p>
      <p>° Esse processo denomina-se cloração e utiliza o ácido hipocloroso (HClO).</p>
      <p>° Desinfecção de água de piscinas e de resíduos industriais, pois o cloro é capaz de matar microrganismos.</p>
      <p>° Produção de compostos plásticos como PVC (policloreto de vinila) e borracha sintética.</p>
      <p>° Produção de alguns tipos de compostos orgânicos e inorgânicos.</p>

    </div>
  </ion-card>

  <ion-button color="warning" href="terceirapagina" expand="full" shape="around">
    <ion-text color="dark">Voltar</ion-text>
  </ion-button>

</ion-content>
