<ion-header>
  <ion-toolbar>
    <ion-title>Diga de onde você é:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Cidade:</ion-label>
    <ion-input name="nome" [(ngModel)]="cidade.nome" placeholder="Insira o nome da cidade"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Sigla do Estado:</ion-label>
    <ion-select [(ngModel)]="cidade.estado">
      <ion-select-option *ngFor='let estado of listaEstado | async' [value]="estado">
        {{estado.nome}}
        {{estado.sigla}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <br />

  <ion-button color="warning" expand="full" shape="around" (click)="salvar()">
    <ion-text color="dark">Salvar</ion-text>
  </ion-button>
  
  <ion-button color="warning" href="cidade-listar" expand="full" shape="around">
    <ion-text color="dark">Lista</ion-text>
  </ion-button>

  <ion-button color="warning" href="primeirapagina" expand="full" shape="around">
    <ion-text color="dark">Próximo</ion-text>
  </ion-button>

  <ion-button color="warning" href="cadastrar" expand="full" shape="around">
    <ion-text color="dark">Voltar</ion-text>
  </ion-button>

  <!--<ion-item>
    <ion-label>CEP:</ion-label>
    <ion-input type='text' name='cep' [(ngModel)]="endereco.cep" (ionBlur)="preencher()"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Rua:</ion-label>
    <ion-input type='text' name='logradouro' [(ngModel)]="endereco.logradouro" (ionBlur)="preencher()"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Bairro:</ion-label>
    <ion-input type='text' name='bairro' [(ngModel)]="endereco.bairro" (ionBlur)="preencher()"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Cidade:</ion-label>
    <ion-input type='text' name='localidade' [(ngModel)]="endereco.localidade" (ionBlur)="preencher()"></ion-input>
  </ion-item>-->

</ion-content>
