<ion-header>
  <ion-toolbar>
    <ion-title color="success">
      <h1>Acetona</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light">
    <div class='ion-padding'>
      <ion-img src="https://brasilescola.uol.com.br/upload/conteudo/images/acetona.jpg"></ion-img>

      <p>A <ion-badge color="success">propanona</ion-badge> é a cetona de maior uso comercial e é mais comumente conhecida
        como <ion-badge color="success">acetona</ion-badge>, sendo bastante utilizada como removedora de esmaltes.
        No entanto, a solução que serve para essa finalidade na realidade é uma mistura de acetona, álcool etílico e água.</p>

      <p>À temperatura ambiente, a acetona é um líquido inflamável, incolor, de cheiro agradável, solúvel em água e em outros solventes
        orgânicos. Essa última característica faz com que a acetona seja usada principalmente como <ion-badge color="success">solvente</ion-badge> não só dos esmaltes,
        mas de tintas, vernizes, fibras de vidro, na extração de gorduras e óleos de sementes vegetais (como soja, amendoim e girassol) e
        na indústria alimentícia.</p>

      <p>Infelizmente, a propanona também é utilizada na extração da <ion-badge color="success">cocaína</ion-badge>, a partir das folhas de coca; sendo, portanto,
        comercializada de forma controlada pelo Departamento de Entorpecentes da Polícia Federal.</p>

      <ion-badge color="success">
        <ion-text color="light">
          <h4>Fórmula Estrutural</h4>
        </ion-text>
      </ion-badge>
      <br />
      <br />
      <ion-img src="https://mundoeducacao.bol.uol.com.br/upload/conteudo/images/formula-da-propanona.jpg"></ion-img>

    </div>
  </ion-card>

  <ion-button expand="full" shape="around" color="success" href="quartapagina">
    <ion-text color="light">Voltar</ion-text>
  </ion-button>

</ion-content>
