<ion-header>
  <ion-toolbar>
    <ion-title color="dark">
      <h1>Carbono</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="dark">
    <div class='ion-padding'>
      <ion-img src="https://www.quimlab.com.br/guiadoselementos/carbono/carbono.jpg"></ion-img>
      <br />
      <p>O <ion-badge color="light">carbono</ion-badge> é um elemento não-metálico tetravalente,
        pertence a família <ion-badge color="light">4A</ion-badge> na tabela periódica,
        exibe o número atômico <ion-badge color="light">6</ion-badge> e massa atômica
        <ion-badge color="light">12</ion-badge>; seu símbolo é a letra <ion-badge color="light">C</ion-badge>.</p>

      <p>Tornou-se conhecido ainda na antiguidade e é, sem duvida, o elemento básico da vida (animal e vegetal)
        em nosso Planeta, assim como é responsável pela constituição de uma variedade de compostos minerais.</p>

      <p>Uma percentagem significativa do carbono existentes na natureza está na forma de
        <ion-badge color="light">compostos orgânicos</ion-badge>,
        enquanto os minerais podem ser encontrados na forma de carbonatos, carbetos e bicarbonatos.
        Como possui grande facilidade para combinar-se quimicamente com outros átomos pequenos,
        também estabelece ligações com praticamente qualquer elemento da tabela periódica,
        sejam eles metálicos ou não metálicos, o que de fato gera uma infinidade de compostos.</p>

      <ion-badge color="danger">
        <ion-text color="dark">
          <h4>Aplicações</h4>
        </ion-text>
      </ion-badge>

      <p>O principal uso do Carbono pelo homem é no aproveitamento dos combustíveis fósseis,
        como petróleo e gás natural, compostos de <ion-badge color="light">hidrocarbonetos</ion-badge>.
        Por meio da destilação nas refinarias, o petróleo irá gerar gasolinas, querosene,
        óleos e bem como a matéria-prima para a obtenção de plásticos,
        enquanto o gás será usado para gerar energia elétrica de forma mais limpa.</p>

      <ion-badge color="danger">
        <ion-text color="dark">
          <h4>Curiosidades</h4>
        </ion-text>
      </ion-badge>

      <p>° Existem mais de três milhões de compostos distintos derivados do carbono.
        Alguns dos compostos de Carbono mais conhecidos são CH4, Na2CO3, C2H6, C2H5OH, CaC2.</p>
      <p>° O ramo da química que se ocupa exclusivamente do estudo do carbono é a "Química Orgânica".</p>
      <p>° O Carbono produz uma das substâncias mais frágeis e baratas que conhecemos (o grafite),
        bem como uma das mais rígidas e caras do Mundo (o diamante).</p>

    </div>
  </ion-card>
  
  <ion-button expand="full" shape="around" color="danger" href="terceirapagina">
    <ion-text color="dark">Voltar</ion-text>
  </ion-button>

</ion-content>
