<ion-header>
  <ion-toolbar>
    <ion-title color="primary">
      <h2>Oxigênio</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light">
    <div class='ion-padding'>
      <ion-img src="https://www.quimlab.com.br/guiadoselementos/oxigenio/oxigenio.jpg"></ion-img>

      <p>O <ion-badge color="primary">oxigênio</ion-badge> (O) é um elemento químico mais abundante da superfície da Terra.
        Ele pode ser encontrado na forma livre ou combinado com outras substâncias, como a <ion-badge color="primary">água</ion-badge> (H2O).
        O oxigênio é indispensável à vida, praticamente todos os seres vivos o utilizam na respiração.
        Além disso, também participa do processo de fotossíntese.</p>

      <p>Ele se localiza na família <ion-badge color="primary">6A</ion-badge> da tabela periódica e está representado pela letra
        <ion-badge color="primary">O</ion-badge>, com número atômico igual <ion-badge color="primary">8</ion-badge>
        e massa <ion-badge color="primary">16</ion-badge>.</p>

      <ion-badge color="primary">
        <ion-text color="light">
          <h3>Aplicações</h3>
        </ion-text>
      </ion-badge>

      <p>Em indústrias químicas e petroquímicas, o <ion-badge color="primary">Oxigênio</ion-badge> é utilizado como reagente para melhorar a produtividade de inúmeros processos.
        Já na metalúrgica e siderúrgica é utilizado no processo de soldagem, para combustão e para o ajuste do teor em carbono em aços.
        A indústria cervejeira também utiliza oxigênio para estimular a fermentação do mosto.</p>

      <p>O <ion-badge color="primary">Oxigênio</ion-badge> é utilizado também para o branqueamento ecológico do papel, o que evita o recurso a substâncias que contêm cloro.
        As unidades de tratamento das águas residuais também são beneficiadas pelo Oxigênio devido o aumento da atividade biológica
        Em processos que envolvem combustão, o Oxigênio reduz a quantidade de combustível utilizada e, assim, as emissões de CO2.</p>

      <ion-badge color="primary">
        <ion-text color="light">
          <h3>Curiosidades</h3>
        </ion-text>
      </ion-badge>

      <p>° O poder oxidativo do oxigênio é responsável pela formação da ferrugem.</p>
      <p>° O sol é composto por cerca de 1% de oxigênio.</p>
      <p>° O oxigênio é o terceiro elemento mais abundante no universo.</p>
      <p>° A maioria do oxigênio existente no planeta Terra é produzido por algas.</p>

    </div>
  </ion-card>

  <ion-button color="warning" href="terceirapagina" expand="full" shape="around">
    <ion-text color="dark">Voltar</ion-text>
  </ion-button>

</ion-content>
