<ion-header>
  <ion-toolbar>
    <ion-title color="tertiary">
      <h1>Fluor</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="tertiary">
    <div class='ion-padding'>
      <ion-img src="http://www.quimlab.com.br/guiadoselementos/fluor/fluor.jpg"></ion-img>
      <br />
      <p>O <ion-badge color="dark">flúor</ion-badge> (F) é considerado o elemento mais <ion-badge color="dark">eletronegativo</ion-badge> e reativo existente.
        É o halogênio mais abundante da crosta terrestre com número atômico <ion-badge color="dark">9</ion-badge>,
        massa atômica <ion-badge color="dark">19</ion-badge> e está localizado na <ion-badge color="dark">família 7A</ion-badge>
        na tabela periódica.</p>

      <p>É um gás corrosivo, altamente <ion-badge color="dark">perigoso</ion-badge> e <ion-badge color="dark">tóxico</ion-badge>,
        podendo causar graves queimaduras em contato com a pele.
        Em doses pequenas, o flúor fortalece os ossos, sendo muito utilizado na indústria farmacêutica,
        como tranquilizantes; nos tratamentos dentários e nos tratamentos de água (fluoretação da água).</p>

      <ion-badge color="dark">
        <ion-text color="tertiary">
          <h4>Aplicações</h4>
        </ion-text>
      </ion-badge>

      <p>É utilizado na fabricação de polímeros como o conhecido Teflon, que possui grande resistência química
        e baixo coeficiente de atrito, é por isso que as panelas feitas deste material são antiaderentes.
        O <ion-badge color="dark">ácido fluorídrico (HF)</ion-badge> é uma solução aquosa utilizada para gravações em vidros e para retirar
        areia de aços especiais, nos dois casos, o silício está presente.
        O <ion-badge color="dark">hexafluoreto de urânio (UF6)</ion-badge> é um gás a temperatura ambiente usado para isolar isótopos de urânio.</p>

      <ion-badge color="dark">
        <ion-text color="tertiary">
          <h4>Curiosidades</h4>
        </ion-text>
      </ion-badge>

      <p>° Existe mais consumo de Flúor nos Estados Unidos sozinho do que no
        resto do planeta inteiro. Na Europa Ocidental, 97% da população bebe água não-fluorada.</p>
      <p>° O Flúor é adicionado à água potável para prevenir a cárie dentária e,
        pela definição da FDA (Food and Drug Administration), é um medicamento.</p>
      <p>° Os tecidos minerais contém praticamente 99% de flúor do organismo com uma grande maioria nos ossos.</p>

    </div>
  </ion-card>
  
  <ion-button expand="full" shape="around" color="dark" href="terceirapagina">
    <ion-text color="tertiary">Voltar</ion-text>
  </ion-button>

</ion-content>
