<ion-header>
  <ion-toolbar>
    <ion-title color="primary">
      <h1>Água</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light">
    <div class='ion-padding'>
      <ion-img src="https://static.alunosonline.uol.com.br/conteudo_legenda/d9b1361ce7a40e00e04f2501475e297b.jpg"></ion-img>

      <p>A <ion-badge color="primary">água</ion-badge> é a substância mais comum do planeta e cobre cerca de 71% da superfície da Terra.
        Sem ela, o planeta seria completamente diferente do que conhecemos hoje e certamente não existiria nenhum dos seres vivos
        atualmente conhecidos, uma vez que muitas teorias indicam que a vida surgiu nessa substância.</p>

      <p>A água é composta por dois elementos químicos: o <ion-badge color="primary">hidrogênio</ion-badge> e o <ion-badge color="primary">oxigênio</ion-badge>. Para formar uma molécula dessa
        substância são necessários 2 átomos de hidrogênio e apenas 1 de oxigênio, que se ligam por <ion-badge color="primary">ligações covalentes</ion-badge>.
        Nesse tipo de ligação, os elétrons dos átomos são compartilhados.</p>

      <p>As moléculas de água agregam-se umas às outras por meio de <ion-badge color="primary">ligações de hidrogênio</ion-badge>. Isso é possível graças à
        atração que os átomos de oxigênio de uma molécula exercem sobre os hidrogênios de outras. No estado líquido,
        essas ligações rompem-se e refazem-se rapidamente, provocando o deslocamento de moléculas e garantindo a fluidez da água;
        no estado sólido, percebemos ligações mais duráveis; e no estado gasoso, a molécula encontra-se isolada.</p>

      <p>A água do mar, por exemplo, apresenta 96,7% de água e os outros 3,3% são compostos por sais dissolvidos.
        Isso acontece pela capacidade da água de dissolver substâncias, fator que deu origem ao termo <ion-badge color="primary">“solvente universal”</ion-badge>.</p>

      <ion-badge color="primary">
        <ion-text color="light">
          <h4>Fórmula Estrutural</h4>
        </ion-text>
      </ion-badge>
      <br />
      <br />
      <ion-img src="https://s2.static.brasilescola.uol.com.br/img/2016/05/estrutura-da-agua.jpg"></ion-img>

    </div>
  </ion-card>

  <ion-button expand="full" shape="around" color="primary" href="quartapagina">
    <ion-text color="light">Voltar</ion-text>
  </ion-button>

</ion-content>
