<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Sugestões</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let sugestao of listaSugestoes | async">
      <ion-label>{{ sugestao.sg }}</ion-label>
        <ion-button color="warning" (click)="excluirsg(sugestao.key)"><ion-icon color="dark" name="trash"></ion-icon></ion-button>
    </ion-item>
  </ion-list>

  <ion-button color="warning" href="sugestoes" expand="full" shape="around">
    <ion-text color="dark">Voltar</ion-text>
  </ion-button>

</ion-content>
