<ion-header>
  <ion-toolbar>
    <ion-title color="dark">
      <h1>Gás Carbônico</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-card color="light">
      <div class='ion-padding'>
        <ion-img src="https://alunosonline.uol.com.br/upload/conteudo/images/emissao-de-gas-carbonico.jpg"></ion-img>

        <p>O <ion-badge color="dark">dióxido de carbono</ion-badge>, também conhecido como <ion-badge color="dark">gás carbônico</ion-badge>, é uma substância química formada por dois átomos
          de oxigênio e um de carbono. Sua fórmula química é <ion-badge color="dark">CO2</ion-badge>.</p>

        <p>É um gás importante para o reino vegetal, pois é essencial na realização do processo de <ion-badge color="dark">fotossíntese</ion-badge> das plantas
          (processo pelo qual as plantas transformam a energia solar em energia química). Este gás é liberado no processo de respiração
          (na expiração) dos seres humanos e também na queima dos combustíveis fósseis (gasolina, diesel, querosene, carvão mineral e vegetal).
          A grande quantidade de dióxido de carbono na atmosfera é prejudicial ao planeta, pois ocasiona
          o <ion-badge color="dark">efeito estufa</ion-badge> e, por consequência, o aquecimento global.</p>

        <p>Este gás é usado comercialmente em algumas bebidas (carbonatadas) e também em extintores de incêndio.
          Se inalado, em grande quantidade, pode provocar irritações nas vias aéreas, vômitos, náuseas e até mesmo morte por asfixia
          (o que ocorre geralmente nos incêndios).</p>

        <ion-badge color="dark">
          <ion-text color="light">
            <h4>Fórmula Estrutural</h4>
          </ion-text>
        </ion-badge>
        <br />
        <br />
        <ion-img src="https://www.grupoescolar.com/a/b/578E6.jpg"></ion-img>

      </div>
    </ion-card>

    <ion-button expand="full" shape="around" color="dark" href="quartapagina">
      <ion-text color="light">Voltar</ion-text>
    </ion-button>

  </ion-content>
