<ion-header>
  <ion-toolbar>
    <ion-title><h2>Sugestões</h2></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-item>
      <ion-label position="floating"> Sugestões de Substâncias: </ion-label>
      <br />
      <ion-input type="text" [(ngModel)]=" sugestao.sg" placeholder="Insira sua sugestão:"></ion-input>
    </ion-item>
    <br />

    <ion-button color="warning" (click)="salvar2()" expand="full" shape="around">
      <ion-text color="dark">Salvar</ion-text>
    </ion-button>

    <ion-button color="warning" expand="full" shape="around" href="quartapagina">
      <ion-text color="dark">Voltar</ion-text>
    </ion-button>

  </div>
</ion-content>
